<article class="p-6 text-base rounded-lg bg-slate-900">
  <footer class="flex justify-between items-center mb-2">
    <div class="flex items-center">
      <p class="inline-flex items-center mr-3 text-sm text-white font-semibold">
				<%= link_to "#{@post.author.first_name} #{@post.author.last_name}" %>
			</p>
      <p class="text-sm text-slate-400">
				<time pubdate datetime="2022-02-08" title="February 8th, 2022">
					<%= comment.created_at.to_formatted_s(:short) %>
				</time>
			</p>
    </div>
  </footer>
  <p class="text-slate-400 w-full wrap break-words">
		<%= comment.body %>
	</p>
</article>
