<%= turbo_frame_tag "love_#{@post.id}" do %>
	<%= button_to post_loves_path(@post), method: :post, class: "mt-1 group flex items-center text-gray-500 px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-blue-800 hover:text-blue-300" do %>
		<p class="mr-1"><%= @post.loves.count %></p>
		<svg class="text-center h-7 w-6" fill="<%= @already_loved ? "#FF0000": "none" %>" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
	<% end %>
<% end %>
