<footer class="py-3 justify-between rounded-lg shadow mt-10 bg-slate-800 w-full">
	<div class="text-center text-sm text-slate-400 w-10/12 md:w-2/3 block mx-auto">
		&#169; 2024 Jahid Hasan Imon. All Rights Reserved.
	</div>
	<div class="items-center w-1/2 mt-3 text-center text-sm font-medium text-slate-400 mt-0 mx-auto block">
		Made with Rails, Tailwind and &hearts;
	</div>
</footer>
