<nav class="fixed top-0 w-full border-gray-200 bg-slate-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4" data-controller="navbartoggle">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/logo.svg" class="h-8" alt="Outface Logo" />
      <span class="self-center text-3xl font-semibold whitespace-nowrap text-slate-200">Outface</span>
    </a>
		<%- if user_signed_in? %>
			<button data-action="click->navbartoggle#menu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 hover:bg-gray-700 focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
				<span class="sr-only">Open main menu</span>
				<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
				</svg>
			</button>
			<div class="hidden w-full md:block md:w-auto" data-navbartoggle-target="menu">
				<ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
					<li>
						<%= link_to "Users", users_path, class: 'navlink' %>
					</li>
					<li>
						<%= link_to 'Messenger', '#', class: 'navlink md:hover:text-slate-400', title: 'Still working on it' %>
					</li>
					<li>
						<%= link_to 'Profile', profile_path(current_user.account), class: "navlink" %>
					</li>
					<li>
						<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'navlogout' %>
					</li>
				</ul>
			</div>
		<% end %>
  </div>
</nav>
